- if ( process.env.NODE_ENV != 'production') {
  .alert.alert-danger.alert-global
    i.eos-icons.md-18
      | error
    .alert-global-desktop
      a.link-light(data-toggle='modal', data-target='#stagingServerModal')
        | Staging server:
      | The information present in this site may change. Do not use it in products.
    .alert-global-mobile
      a.link-light(data-toggle='modal', data-target='#stagingServerModal')
        | Staging server:
      | The information present in this site may change.

  #stagingServerModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='stagingServerModal')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h4.modal-title
            | Staging access
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            i.eos-icons
              | close
        .modal-body
          p
            | The current is the EOS staging server. We continiously deploy new fixes and features
            | to this website, thus making the present information unstable and not ready to be used.
          p
            | Do not use any of the guides, assets, and elements present in this site into any product
            | until the EOS Design System is released.
          p
            | If you want to be the first to know when EOS is available, please send an email to
            a(href='mailto:eos@suse.de?subject=EOS release access', data-event-category='External link', data-event-action='Email', data-event-label='Beta access modal')
              | eos@suse.de
        .modal-footer
          button.btn(type='button', data-dismiss='modal') Close
- }
