/* Badges variables
   ========================================================================== */
/* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss */
$eos-badge-margin-left: $eos-s;
$eos-badge-font-size: 85%;

/* Colors variables: /assets/stylesheets/eos-base/variables/branding.scss */
$eos-badge-dark-background: $eos-bc-gray-900;
$eos-badge-span-background: $eos-bc-white;
$eos-badge-color: $eos-bc-gray-900;
