/* Show-more-less
   ========================================================================== */
/* Variables file: assets/stylesheets/eos-custom-components/show-more-less/show-more-less.variables.scss */

.css-snippet-container {
  position: relative;

  .scss-snippet-btns {
    margin-top: $eos-sml-scss-snippet-btns-margin-top;
    position: absolute;
    right: $eos-sml-scss-snippet-btns-right;

    i {
      color: $eos-sml-scss-snippet-btns-color;
      cursor: pointer;

      &:last-child,
      &.single-icon {
        margin-right: 0;
      }
    }
  }

  .no-top-margin {
    margin-top: 0;
  }

  .snippet-code {
    border-radius: 0;
    height: $eos-sml-snippet-code-height;
    overflow: hidden;
  }

  .show-more-less {
    bottom: $eos-sml-show-more-less-bottom;
    outline: none;
    position: absolute;
    right: $eos-sml-show-more-less-right;
  }

  .toggle-height {
    height: auto;
  }

  /* Fix for flickering copy icon on mouse over.*/
  .eos-icons {
    margin-right: 0;
  }
}
