/* Color box component
   ========================================================================== */
/* Colors variables: /assets/stylesheets/eos-base/variables/branding.scss */
$eos-color-title: $eos-bc-gray-1000;
$eos-color-description: $eos-bc-gray-800;
$eos-color-solo-color: $eos-bc-gray-200;
$eos-color-solo-border: $eos-bc-gray-200;
$eos-color-solo-background: $eos-bc-gray-1000;
$eos-color-collection-title-dark: $eos-bc-gray-1000;
$eos-color-collection-description: $eos-bc-gray-900;
$eos-color-collection-title-light: $eos-bc-white;
$eos-color-collection-title-gray: $eos-bc-gray-500;
$eos-shade-box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2);

/* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss */
$eos-color-content-max-width: 300px;
$eos-color-content-max-height: 100px;
$eos-shade-box-size: 50px;
$eos-color-wrap-margin: $eos-l $eos-xl 0 0;
$eos-color-title-p-margin-top: $eos-s;
$eos-color-used-for-p-margin: 0 0 $eos-m 0;
// Font-size reference: /assets/stylesheets/eos-base/variables/typography.scss
$eos-shader-color-size: $eos-font-size-base * 1.5;
$eos-hex-title-size: $eos-font-size-base / 1.5;
$eos-colors-bottom-background: $eos-bc-gray-100;
