/* Features variables
   ========================================================================== */
/**
* Colors
*
* Colors variables: /assets/stylesheets/eos-base/variables/branding.scss
*/
$eos-feature-container-border-color: $eos-bc-gray-300;
$eos-feature-container-border-highlight-color: $eos-bc-gray-300;
$eos-features-container-bg: $eos-bc-white;

/* Border color */
$eos-features-container-1: $eos-bc-cerulean-500;
$eos-features-container-2: $eos-bc-violet-300;
$eos-features-container-3: $eos-bc-orange-400;
$eos-features-container-4: $eos-bc-green-500;

/**
* Sizing and spacing
*
* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss
*/
$eos-feature-spacing: $eos-xl - 4;
$eos-feature-figure-img-height: 220px;
